{% extends "master.jinja" %}

{% block title %}Welcome to bomberman{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/bomberman/bomber.css">
    <link rel="stylesheet" type="text/css" href="/builder/builder.css">
{% endblock %}

{% block contents %}
    <section class="text-center menu">
        <h2>Welcome to Bomberman</h2>
        <div class="container">
            <a class="btn btn-default" href="/bomberman/local">Local Game</a>
        </div>
        <div class="container">
            <a class="btn btn-default" style="cursor: default; pointer-events: none;" href="/bomberman/network" disabled>Network Game</a>
        </div>
    </section>
{% endblock %}
