{% extends "master.jinja" %}

{% block title %}Welcome to bomberman{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/bomberman/bomber.css">
    <link rel="stylesheet" type="text/css" href="/builder/builder.css">
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="/bomberman/bomber.js"></script>
{% endblock %}

{% block contents %}
    <section id="bomberman-controls">
        <div id="builder"></div>
        <div style="flaot:left" style="border:1px solid;">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6 keypic text-right">
                        <img src="/bomberman/arrowkeys.gif" style="height:80px;" alt="arrow keys"/>
                        Movement
                    </div>
                    <div class="span6 keypic text-right">
                        <img src="/bomberman/spacebar.png" style="height:80px;" alt="spacebar"/>
                        Drop bomb
                    </div>
                    <div class="span6 keypic text-right">
                        <img src="/bomberman/q.jpg" style="height:80px;" alt="q"/>
                        Exit
                    </div>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </section>
{% endblock %}
