{% extends "master.jinja" %}

{% block title %}Welcome to bomberman{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/bomberman/bomber.css">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block contents %}
    <section id="bomberman-controls">
        <div class="container-fluid" method="post">
            <div class="row-fluid">
                <form  action="/gifupload/upload" enctype="multipart/form-data" method="post">
                Upload an animated gif (square please)<br /><br />
                <input type="file" name="yourgif">
                <input type="text" style="width:20px;" name="framerate">
                <input type="submit" value="UPLOAD Gif">
                </form>
            </div>
        </div>
    </section>
{% endblock %}
